<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creation.nearby">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nearby.White">
        <activity android:name=".ui.OngoingChatActivity"></activity>
        <activity android:name=".ui.SwipeUserProfileActivity" />
        <activity
            android:name=".ui.FullPictureActivity"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity android:name=".ui.ContactUsActivity" />
        <activity android:name=".ui.FeedBackActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity
            android:name=".ui.DetailedProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.EventDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.MyProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.AlertActivity" />
        <activity android:name=".ui.NotificationsActivity" />
        <activity android:name=".ui.PersonalInfoActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.SideBarMenuActivity" />
        <activity android:name=".ui.AddEventActivity" />
        <activity android:name=".ui.ChatActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.authentication.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.authentication.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.authentication.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>