<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creation.nearby">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".base.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nearby.White"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.call.IncomingCallActivity"></activity>
        <activity android:name=".ui.call.VoiceChatViewActivity" />
        <activity android:name=".ui.authentication.NewSplashActivity" />
        <activity android:name=".ui.authentication.ThankYouActivity" />
        <activity android:name=".ui.authentication.OtpActivity" />
        <activity android:name=".ui.authentication.NewLoginActivity" />
        <activity android:name=".ui.MyEventActivity" />
        <activity
            android:name=".ui.CallingVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.VideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.CallingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.AudioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".ui.authentication.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.OtherUserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TermsOfUse"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CongratulationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OngoingChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SwipeUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FullPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.DetailedProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.EventDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.MyProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nearby.TransparentStatusBar" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.AlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SideBarMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <!-- android:theme="@style/Theme.Nearby.TransparentStatusBar"/ -->
        </activity>
        <activity
            android:name=".ui.authentication.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.authentication.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.authentication.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.authentication.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/albumColorPrimary" />
    </application>

</manifest>